<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <h4>お問い合わせ完了</h4>
      <div class="col-md-12 complition">
        <p>ありがとうございます。<br>
        お問い合わせが送信されました。<br>
        確認でき次第追ってご連絡します。<br>
        5日経っても連絡がない場合はお手数ですが<br>
        amulabamulab@gmail.com<br>
        まで直接ご連絡頂けると幸いです。</p>
        <p>Amulab管理者より</p>
      </div>
    </div>
  </div>
</div>