<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to new_user_session_path do %>
        <%= image_tag("banner2.jpg", alt: "banner", width: "100%") %>
      <% end %>
    </div>
  </div>
</div>
