<p style="text-align: center;">
  <a href="https://lin.ee/WQcPzTs" target="_blank">
    <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
  </a>
  　LINE 公式アカウントへのお問い合わせも受付中！
</p>
<p style="text-align: center;">
  <a href="https://twitter.com/Amulab202308?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" style="height: 36px; vertical-align: middle;">Follow @Amulab202308</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  　X（旧：Twitter）のフォローも受付中！
</p>