  <%#= image_tag("knitting is healing1", alt: "card_collar1", width: "100%") %>
  <%#= image_tag("knitting is healing_BLU", alt: "card_collar1", width: "100%") %>
  <%= image_tag("knitting is healing_GRN", alt: "card_collar1", width: "100%") %>
  <%#= image_tag("knitting is healing_GRY", alt: "card_collar1", width: "100%") %>
  <%#= image_tag("knitting is healing_PIK", alt: "card_collar1", width: "100%") %>
  <%#= image_tag("knitting is healing_YEL", alt: "card_collar1", width: "100%") %>
</div>
<div class="col-md-5">
  <h1><mark>Welcome to Amulab !!</mark></h1>
  <p>
    アクセス頂きありがとうございます。<br>
    当サイトは「ハンドメイド作品投稿サイト」です。
  </p>
  <p>
    編み物だけに限りません！
  </p>
  <p>
    手作りの作品が家に溜まっていませんか？</p>
  <p>
    ここでは自分が作った作品の写真を投稿できます。<br>
    投稿するには会員登録が必要です。<br>
    いいね機能やコメント機能があるので<br>
    みんなでいいねし合いましょう。
  </p>
  <p>
    サイトに関するご意見・ご感想は<br>
    <%= link_to "こちら", new_contact_path, class: "underline" %>
    のお問い合わせよりご連絡ください。
  </p>
  <p>
    Amulab管理者より
  </p>