<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <h4><mark>当サイトについて</mark></h4>
      <div class="col-md-12 about">
        当サイトは「ハンドメイド品登録サイト」です。<br>
        手作りの作品が家に溜まっていませんか？<br>
        ここでは自分が作った作品を登録することができます。<br>
        作品を登録するには会員登録が必要です。<br>
        お手数ですが上部新規登録よりご登録をお願いします。<br>
        いいね機能やコメント機能があるのでみんなでいいねし合いましょう。<br>
        編み物やハンドメイド品を作ることは癒しだと考えています。<br>
        みんなでたくさん作って癒されましょう。<br>
      </div>
      <div>
        <p><h5>★★★★★★★★★★★★★★★★★★★★★★ </h5></p>
      </div>
      <div>
        <p><h4><mark>更新情報</mark></h4></p>
        <b>2023/11/15</b><br>
        お問い合わせフォームの機能を追加しました。<br>
        <b>2023/11/1</b><br>
        サイトを立ち上げました。<br>
      </div>
    </div>
  </div>
</div>

<!--<h1>Public::Homes#about</h1>-->
<!--<p>Find me in app/views/public/homes/about.html.erb</p>-->
<!--当サイトについて画面-->