<section class="wrapper flex">

  <div class="image_tag">
    <%= image_tag 'knitting is healing.png', width: 700 %>
  </div>
  <div class="about">
    <table>
      <h4>当サイトについて</h4><br>
      当サイトは「ハンドメイド品投稿サイト」です。<br>
      手作りの作品が家に溜まっていませんか？<br>
      ここでは自分が作った作品を投稿することができます。<br>
      投稿するには会員登録が必要です。<br>
      お手数ですが上部新規登録よりご登録をお願いします。<br>
      いいね機能やコメント機能があるのでみんなでいいねし合いましょう。<br>
      編み物やハンドメイド品を作ることは癒しだと考えています。<br>
      みんなでたくさん作って癒されましょう。<br>
      ★★★★★★★★★★<br>
      ****/**/**<br>
      ***の機能を追加しました。<br>
    </table>
  </div>

</section>

<!--<h1>Public::Homes#about</h1>-->
<!--<p>Find me in app/views/public/homes/about.html.erb</p>-->
<!--当サイトについて画面-->