<section class="wrapper flex">

  <div class="complition">

    <table>
      <h4>お問い合わせ</h4><br>
      ありがとうございます。<br>
      お問い合わせが送信されました。<br>
      確認でき次第追ってご連絡します。<br>
      5日経っても連絡がない場合はお手数ですが amulabamulab@gmail.com まで直接ご連絡頂けると幸いです。<br>
      Amulab管理者より<br>
    </table>

  </div>

  <div class="image_tag_right">
    <%= image_tag 'knitting is healing1.jpg', width: 700 %>
  </div>

</section>

<!--<h1>Public::Homes#complition</h1>-->
<!--<p>Find me in app/views/public/homes/complition.html.erb</p>-->
<!--お問い合わせ完了画面-->