<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 privacypolicy">
      <h4>プライバシーポリシー</h4>

      <div>
        <p>お預かりする個人情報を安全に保管し、以下に定めるプライバシーポリシーに従って、個人情報を安全かつ適切に取り扱うことを宣言いたします。</p>
      </div>

      <div>
        <ul>
          <p><li>個人情報の定義<br>
            個人情報とは会員登録時に入力いただく電話番号をいいます。
          </li></p>
          <p><li>個人情報の管理<br>
            お預かりした個人情報は、不正アクセス、紛失、漏えい等が起こらないよう、適切に管理します。<br>
          </li></p>
          <p><li>個人情報の利用目的<br>
            お客様からのお問い合わせ等に対応するためや当サイトのサービス向上・改善、新サービスを検討するための分析等を行うために利用いたします。<br>
          </li></p>
          <p><li>個人情報の開示・訂正・削除について<br>
            お預かりした個人情報の開示・訂正・削除をご希望の場合は、ご本人様よりお申し出頂くようお願いします。ご連絡いただきましたら速やかに対応させていただきます。<br>
          </li></p>
          <p><li>本ポリシーの変更<br>
            当サイトは、本ポリシーを適宜見直し予告なく変更する場合があります。<br>
          </li></p>
        </ul>
      </div>

    </div>

  </div>
</div>

<!--<h1>Public::Homes#index</h1>-->
<!--<p>Find me in app/views/public/homes/index.html.erb</p>-->
<!--プライバシーポリシー画面-->