<div class="container">
  <div class="row">

    <div class="col-md-12 users">
      <h4>会員一覧（ID順／全て）</h4>
    </div>

    <% @users.each do |user| %>
      <div class="col-md-2 users">
        <%= user.id %><br>
        <i class="fa-solid fa-user fa-4x"></i><br>
        <%= link_to admin_user_path(user) do %>
          <b><%= user.name %></b><br>
        <% end %>
        <p><%= user.phone_number %></p>
      </div>
    <% end %>

  </div>
</div>

<!--<h1>Admin::Homes#top</h1>-->
<!--<p>Find me in app/views/admin/homes/top.html.erb</p>-->
<!--管理者トップ画面（会員一覧）-->