<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><mark>ジャンル「 <%= @genre.name %> 」が選択されている作品一覧</mark></h3><br>
    </div>
    <div class="col-md-7">
    <ul>
      <% @items.each do |item| %>
        <li>
          <%= link_to item.name, item_path(item) %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>