<table>
  <tr>
    <th>
      AIによる分析によると、<br>この画像は・・・
    </th>
  </tr>
</table>
<% if @item.tags.present? %>
  <% @item.tags.each do |tag| %>
    <!--lib/vision.rbで指定した数分だけラベルを取得-->
    <table>
      <tr>
        <td>
          <li><%= tag.name %></li>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <table>
  <tr>
    <td>
      nothing
    </td>
  </tr>
</table>
<% end %>