<section class="wrapper flex">

  <div class="item_show">

    <div class="items">
      <%#= image_tag @item.get_image, fallback: "/amulab/app/assets/images/no_image_BLU.jpg" %>
    </div>

<%= form_with model:@item, url: item_path, method: :patch do |f| %>
<%= f.text_field :name %><br>
<%= f.text_area :description, rows: 3 %><br>

<%= f.submit "編集完了" %>
<% end %>

  </div>

</section>

<!--<h1>Public::Items#edit</h1>-->
<!--<p>Find me in app/views/public/items/edit.html.erb</p>-->
<!--作品編集画面-->