<div class="col-md-12 footer_wraper">
  <div class="col-md-6 footer_line_left">
    Contact<br>
    E-mail amulabamulab[at]gmail.com<br>
    Copyright © Amulab All Rights Reserved.<br>
  </div>
  <div class="col-md-6 footer_line_right">
    <a href="https://lin.ee/WQcPzTs"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a><br>
    LINEでお問い合わせを受付中！<br>
  </div>
</div>