<p>ようこそ、<%= current_user.full_name %>さん</p>

<%= link_to items_path, class: 'nav-link text-light' do %>
  <i class="fas fa-users"></i>
  作品一覧
<% end %>
<%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
  <i class="fas fa-users"></i>
  ログアウト
<% end %>
<%= link_to items_path, method: :post, class: 'nav-link text-light' do %>
  <i class="fas fa-users"></i>
  新規投稿
<% end %>